<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Edite a connection string conforme seu XAMPP (usuário=root; senha=; host=localhost) -->
    <add name="SpeedlineDB" connectionString="server=localhost;user id=root;password=;database=speedline_pdv;AllowUserVariables=True;SslMode=Preferred;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
